<header class="header">
  <div class="header-left">
    <div class="brand">
      <img src="/assets/MeEnmapaLike.png" alt="Logo" class="logo">
      <span class="brand-name">SocialRaccoon</span>
    </div>
    <div class="search-bar">
      <i class="fas fa-search search-icon"></i>
      <input type="text" placeholder="Search.......">
    </div>
  </div>
  <div class="header-right">
    <!--<button class="icon-btn">
      <i class="fas fa-bell"></i>
      <span class="notification-badge">3</span>
    </button>-->
    <button class="icon-btn">
      <i class="text-start">{{user?.name}} {{user?.lastName}} {{user?.secondLastName}}</i>

    </button>
    <div class="user-menu-container">
      <div class="user-menu" (click)="toggleUserMenu($event)">
        <img [src]="profileImage" alt="Profile" class="avatar">
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="dropdown-menu" [class.show]="isUserMenuOpen">
        <a [routerLink]="['/profile', userid]"
           class="dropdown-item">
          <i class="fas fa-user"></i>
          Perfil
        </a>
        <a href="/settings" class="dropdown-item">
          <i class="fas fa-cog"></i>
          Configuración
        </a>
        <div class="dropdown-divider"></div>
        <a href="/auth/login" (click)="logoutUser()" class="dropdown-item">
          <i class="fas fa-sign-out-alt"></i>
          Cerrar Sesión
        </a>
      </div>
    </div>
    <button class="menu-toggle" (click)="toggleMenu()">
      <i class="fas fa-bars">
        <span class="menu-toggle-text"></span>
      </i>
    </button>
  </div>

</header>
