<div class="container db-social">
  <div class="jumbotron jumbotron-fluid" style="background: #2c304d;"></div>
  <div class="container-fluid">
    <!-- Loading spinner -->
    <div *ngIf="isLoading" class="text-center py-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>


    <!-- Profile content -->
    <div *ngIf="profile && !isLoading" class="row justify-content-center">
      <div class="col-xl-11">
        <div class="widget head-profile has-shadow">
          <div class="widget-body pb-0">
            <div class="row d-flex align-items-center">
              <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                <ul>
                  <li class="py-5">
                    <div class="counter">{{ profile.followersCount }}</div>
                    <div class="heading">Seguidores</div>
                  </li>
                  <li>
                    <div class="counter">{{ profile.followingCount }}</div>
                    <div class="heading">Seguidos</div>
                  </li>
                </ul>
              </div>
              <div class="col-xl-4 col-md-5 d-flex justify-content-center">
                <div class="image-default">
                  <img class="rounded-circle"
                       [src]="currentProfileImage?.imageUrl || 'https://bootdey.com/img/Content/avatar/avatar5.png'"
                       alt="Profile picture">
                </div>
                <div class="infos">
                  <h2>{{ profile.userName }}</h2>
                  <div class="heading text-muted mb-2">{{ profile.controlNumber }}</div>
                  <div class="location">{{ profile.description }}</div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                <div class="follow">
                  <a class="btn btn-shadow" (click)="follow()" [hidden]="isUpdatingFollowStatus">
                    <i class="la la-user-plus"></i>
                    <span *ngIf="!isUpdatingFollowStatus">{{ txtFollow }}</span>
                    <span *ngIf="isUpdatingFollowStatus" class="spinner-border spinner-border-sm" role="status"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Error message -->
    <div *ngIf="error" class="alert alert-danger mx-3">
      {{ error }}
    </div>
  </div>
</div>
